.navbar{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
font-family: 'Poppins',sans-serif;}

.logo{
    width: 150px;

}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar button{
    background: transparent;
    font-size: 16px;
    color:  #945c82;
    border: 1px solid  #945c82;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
}
.navbar button:hover{
    color: aliceblue;
    background-color:  #945c82;
    box-shadow: 0 0 1rem  #945c82;
    transition: .5s ease;
}
.navbar a{
    text-decoration: none;
    color:  #945c82;
}
.active{
    padding-bottom: 2px;
    border-bottom: 2px solid  #945c82;
}
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color:  #945c82;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}